<h1 class="title__text">{{title}}</h1>
<h3 class="subtitle__text">Hello! I'm {{name}}!</h3>
<p class="paragraph__text">This is a simple project I made to get you started with Node.js, Express & Webpack!</p>
<a href="#" class="fork__button">
    <svg class="github__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.24 28.509">
        <path id="github" d="M9.78,30.956c0,.118-.136.212-.307.212-.195.018-.33-.077-.33-.212,0-.118.136-.212.307-.212C9.627,30.726,9.78,30.82,9.78,30.956ZM7.947,30.69c-.041.118.077.253.253.289a.277.277,0,0,0,.365-.118c.035-.118-.077-.253-.253-.307A.3.3,0,0,0,7.947,30.69Zm2.606-.1c-.171.041-.289.153-.271.289.018.118.171.195.348.153s.289-.153.271-.271S10.723,30.572,10.552,30.59ZM14.431,8A14.136,14.136,0,0,0,0,22.384a14.78,14.78,0,0,0,9.992,14.1c.755.136,1.02-.33,1.02-.713,0-.365-.018-2.382-.018-3.62,0,0-4.127.884-4.993-1.757,0,0-.672-1.715-1.639-2.158,0,0-1.35-.926.094-.908a3.112,3.112,0,0,1,2.276,1.521,3.116,3.116,0,0,0,4.3,1.232,3.276,3.276,0,0,1,.943-1.987c-3.3-.365-6.62-.843-6.62-6.514A4.468,4.468,0,0,1,6.744,18.11a5.57,5.57,0,0,1,.153-4c1.232-.383,4.068,1.592,4.068,1.592a13.927,13.927,0,0,1,7.4,0s2.836-1.981,4.068-1.592a5.567,5.567,0,0,1,.153,4,4.582,4.582,0,0,1,1.521,3.472c0,5.689-3.472,6.143-6.768,6.514a3.486,3.486,0,0,1,1,2.735c0,1.987-.018,4.445-.018,4.928,0,.383.271.849,1.02.713A14.644,14.644,0,0,0,29.24,22.384C29.24,14.208,22.608,8,14.431,8ZM5.73,28.332c-.077.059-.059.195.041.307.094.094.23.136.307.059.077-.059.059-.195-.041-.307C5.942,28.3,5.807,28.256,5.73,28.332Zm-.637-.478c-.041.077.018.171.136.23a.175.175,0,0,0,.253-.041c.041-.077-.018-.171-.136-.23C5.229,27.778,5.135,27.8,5.093,27.855ZM7,29.953c-.094.077-.059.253.077.365.136.136.307.153.383.059.077-.077.041-.253-.077-.365C7.257,29.877,7.08,29.859,7,29.953Zm-.672-.867c-.094.059-.094.212,0,.348s.253.195.33.136a.269.269,0,0,0,0-.365C6.579,29.069,6.426,29.01,6.331,29.087Z"
            transform="translate(0 -8)"></path>
    </svg>
    Download on Github
</a>